.headerimage {
    display: flex;
    width: 100%;
    height: auto;
}

.scrollingtext {
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 15%;
    right: 12.5%;
    width: 72.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    min-height: 100vh;
}

*, *::before, *::after{
    -webkit-box-sizing:padding-box;
    box-sizing:padding-box;
  }
  
  .tickerwrapper {
    /* the outer div */
    
    position: relative;
    top: 30px;
    left:0%;
    width: 99.9%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
  }
  
  ul.list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
  }
  
  ul.list.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  ul.list li {
    float: left;
    padding-left: 20px;
  }

#intro {
    gap: 100px;
    width: 100%;
    align-items: center;
}

#scroll-container {
    /* border: 3px solid black;
    border-radius: 5px; */
    overflow: hidden;
  }
  
  #scroll-text {
    text-align: center;
  
    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 164px;
    line-height: 10px;
    color: #000000;
}

h2 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 0;
    color: #000000;
}

h3 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: capitalize;
    color: #FF8579;
}

h4 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 650;
    font-size: 28px;
    line-height: 100%;
    color: #000000;
}

h5 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase; 
    color: rgba(0, 0, 0, 0.4);
}

h6 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 150%;
    color: #767980;
}

.cc {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #767980;
    text-decoration: underline;
  }

.cc:hover {
    color: #373D8A;
}

p {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.textbox1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 5%;
}

.line {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 5%;
}

.block {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px;
    gap: 2%;
}

.imageblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;
    margin-top: 5%;
    justify-content: center;
    margin-bottom: 3%;
}

.imageblock2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 5%;
}

.descriptor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}

.iteration {
    width: 70%;
}

.iteration2 {
    width: 100%;
}

ul * {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

#grouppic {
    height: 150px;
    width: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 10%;
}

.cc {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #767980;
    text-decoration: underline;
  }
  
  .cc:hover {
    color: #373D8A;
  }

  #scrollToTopBtn {
    background-color: white;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.3));
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 48px;
    width: 48px;
  }

  #scrollToTopBtn:hover {
    background-color: black;
  }

  .footer {
    margin-top: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
    .imageblock {
        flex-direction: column;
    }
    .iteration {
        width: 100%;
    }
    .details {
        flex-direction: column;
        gap: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .scrollingtext {
        left: 5%;
        right: 5%;
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {

}