header {
  margin: 0;
  padding: 0;
}

nav {
  z-index: 1;
  /* background-color: #070833; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
  top: 0;
}

#logo {
  margin-left: 3%;
  height: 50px;
  width: auto;
}

#menubuttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 50px; 
  list-style: none;
  margin-right: 5%;
}

#menubuttons * {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-decoration: none;
  color: rgba(7, 8, 51, 0.5);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #070833;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #070833;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  nav {
    z-index: 2;
  }

  #menubuttons {
    flex-direction: column;
    align-items: center;
    background-color: white;
    top: 200px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    gap: 30px;
  }
}

@media only screen and (max-width: 480px) {

}