nav {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-left: 50%;
    height: 80px;
    padding: 0;
    margin: 0;
    top: 0;
  }
  
  #logo {
    height: 50px;
    width: auto;
  }
  
  #menubuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px; 
    list-style: none;
    margin-right: 60px;
  }

  #menubuttons * {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .linked {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
  }

  /* .one:hover {
    color: white;
  }

  .two:hover {
    color: white;
  }

  .three:hover {
    color: white;
  } */

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: white;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    line-height: 0;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    justify-content: center;
    justify-items: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 50;
    font-weight: 600px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content * {
    font-weight: 600px;
  }
  
  /* Links inside the dropdown */
  .projects {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.2);}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex; flex-direction: column; justify-content: center; align-items: center; justify-items: center; justify-self: center;}


  @media only screen and (min-width: 1200px) {
  }
  
  @media only screen and (max-width: 1200px) {
  }
  
  @media only screen and (max-width: 1024px) {
  }
  
  @media only screen and (max-width: 768px) {
    #logo {
      width: 0;
    }
    #menubuttons {
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 480px) {
  
  }