.headerimage {
    display: flex;
    width: 100%;
    height: auto;
    z-index: 1;
}

.scrollingtext {
    z-index: 1;
    position: absolute;
    top: 12%;
    left: 20%;
    right: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    min-height: 100vh;
}

h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    color: #000000;
}

h2 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #25398E;
}

h3 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: capitalize;
    color: #25398E;
}

h4 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 650;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}

h5 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase; 
    color: rgba(0, 0, 0, 0.4);
}

h6 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 18px;
    color: #25398E;
}

p {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.textbox1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 5%;
}

.line {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 5%;
}

.block {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px;
    gap: 2%;
}

.imageblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;
    margin-top: 5%;
}

.imageblock2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 5%;
}

.descriptor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.descriptor * {
    padding: 0;
    margin: 20px;
}

.iteration {
    width: 60%;
}

.iteration2 {
    width: 100%;
}

ul * {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

#grouppic {
    height: 150px;
    width: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cc {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #767980;
    text-decoration: underline;
  }
  
  .cc:hover {
    color: #373D8A;
  }


@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
    .imageblock {
        flex-direction: column;
    }
    .iteration {
        width: 100%;
    }
    .details {
        flex-direction: column;
        gap: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .scrollingtext {
        left: 5%;
        right: 5%;
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {

}

/* Footer */

.footer {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 3%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .foottext {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #767980;
  }
  
  .socialmedia {
    position: fixed;
    bottom: 28px;
    left: 70px;
    z-index: 12;
  }

  .cc {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #767980;
    text-decoration: underline;
  }
  
  .cc:hover {
    color: #373D8A;
  }

  a {
    color: white;
  }

  #scrollToTopBtn {
    background-color: white;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.3));
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 48px;
    width: 48px;
  }

  #scrollToTopBtn:hover {
    background-color: black;
  }