.headerimage {
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    left: 10%;
    top: 11%;
    width: 80%;
    height: auto;
}

.scrollingtext {
    position: absolute;
    top: 70%;
    left: 15%;
    right: 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 40px;
    line-height: 10px;
    color: #000000;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #25398E;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    text-transform: capitalize;
    color: #25398E;
}

h4 {
    font-family: 'Inter';
    font-weight: 1000;
    font-size: 17px;
    line-height: 120%;
    color: #000000;
}

h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50%;
    color: rgba(0, 0, 0, 0.6);
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
}

.textbox1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 180px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 5%;
}

.line {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 5%;
}

.block {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px;
    gap: 2%;
}

.imageblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;
}